*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.productCard {
	min-height: 100%;
}

.item-details {
	text-align: center;
	margin-top: 30px !important;
	padding: 0px 10px !important;
}

.quantity-control-container {
	width: 100%;
}

.quantity-control {
	margin: 0px auto;
}

.quantityBtn {
	min-width: 40px;
}

.quantity-control-items {
	border-radius: 0px !important;
}

.quantity-control-items:focus {
	box-shadow: none !important;
}

@media only screen and (min-width: 768px) {

	.products-view-img-container {
		margin-top: 50px !important;
	}

	.product-view-img {
		height: 450px;
		width: 450px;
	}

	.item-details {
		padding: 50px;
	}

	.quantity-control-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.quantity-control {
		margin: 0px 10px;
	}
}

@media only screen and (min-width: 1366px) {

	.item-details {
		text-align: initial;
	}

	.quantity-control-container {
		justify-content: flex-start;
		flex-direction: row;
	}

}